.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: saturate(1.1) blur(8px);
  background: rgba(11, 15, 26, 0.7);
  border-bottom: 1px solid var(--border);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Place it behind the drawer but above other content */
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 0;
}

.brand {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  font-weight: 700;
  letter-spacing: .3px;
}

.brandIcon {
  width: 28px;
  height: 28px;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  padding: .5rem .75rem;
  border-radius: 8px;
  transition: background .2s ease, color .2s ease;
  color: var(--muted);
}

.link:hover {
  color: var(--text);
  background: #0f172a;
}

.active {
  color: var(--text);
  border: 1px solid var(--accent);
}

.menuBtn {
  display: none;
}

@media (max-width: 800px) {
  .links {
    display: none;
  }

  .menuBtn {
    display: inline-flex;
    z-index: 76767;
    /* position: absolute; */
  }

  .drawer {
    position: fixed;
    inset: 0 0 0 auto;
    width: 80%;
    /* background: var(--bg); */
    border-left: 1px solid var(--border);
    padding: 1rem;
    z-index: 1000;
    background-color: #0d1528;
    height: max-content;
  }

  .drawer a {
    display: block;
    padding: .75rem .5rem;
    border-bottom: 1px solid var(--border);
  }


}

